header {
    background-color: rgb(88, 152, 156);
    color: white;
    padding-left: 25px;
    padding-top: 25px;
}

h1 {
    font-family: 'Cedarville Cursive', cursive;
}

nav {
    padding-right: 10px;
    float: right;
}

a {
    color: white;
}

main {
    background-color: rgb(182, 182, 182);
}

#main-body {
    background-color: white;
    border-color: lightgray;
    border-width: 20px;
    margin: 30px;
    padding-top: 25px;
}

#Contact {
    padding-top: 20px;
}

hr {
    border-width: 2.5px;
}

input {
    width: 100%;
    background-color: white;
}
textarea {
    width: 100%;
}

#button {
    width: 100px;
    background-color: rgb(100, 159, 163);
    color: white;
}

footer {
    background-color:rgb(88, 152, 156) ;
    width: 100%;
    height: 40px;
    text-align: center;
    color: white;
}

@media screen and (max-width: 770px) {
    #nav {}

    #main-body {
        margin: 10px;
    }
}