header {
    background-color: rgb(88, 152, 156);
    color: white;
    padding-left: 25px;
    padding-top: 25px;
}

h1 {
    font-family: 'Cedarville Cursive', cursive;
}

nav {
    padding-right: 10px;
    float: right;
}

a {
    color: white;
}

main{
    background-color: rgb(182, 182, 182);
}

#main-body {
    background-color:rgb(230, 230, 230);
    margin: 30px;
    padding-top: 25px;
}

h2 {
    font-family: 'Cedarville Cursive', cursive;
}

img {
    width: 400px;
    height: 300px;
    position: absolute;
    top: 0px;
    left: 0px;

}

.col-sm-6 {
    width: 100%;
    align-items: center;
    text-align: center;
}

.project{
    width: 400px;
    height: 300px;
    background-color: rgb(73, 122, 122);
    margin: 10px;
    display: inline-block;
    position: relative;
}

.imgLabel {
    position: absolute;
    bottom: 0px;
    background-color: rgb(40, 82, 83);
    color: white;
    font-size: 20px;
    opacity: 75%;
    height: 60px;
    width: 100%;
    text-align: center;
}

footer {
    background-color:rgb(88, 152, 156) ;
    width: 100%;
    height: 40px;
    text-align: center;
    color: white;
}

@media screen and (max-width: 720px) {
    .project {
        height: 200px;
        width: 300px;
        margin: 10px;
    }

    img {
        height: 200px;
        width: 300px;
    }
    
    #main-body {
        margin: 0px;
    }
}
