header {
    background-color: rgb(88, 152, 156);
    color: white;
    padding-left: 25px;
    padding-top: 25px;
}

h1 {
    font-family: 'Cedarville Cursive', cursive;
}

nav {
    padding-right: 10px;
    float: right;
}

a {
    color: white;
}

main {
    background-color: rgb(182, 182, 182);
}

#main-body {
    background-color: rgb(230, 230, 230);
    margin: 30px;
    padding-top: 25px;
}

h2 {
    font-family: 'Cedarville Cursive', cursive;
}

img {
    width: 230px;
    height: 230px;
}

#text {
    padding-left: 10px;
    padding-right: 10px;
    
}

footer {
    background-color:rgb(88, 152, 156) ;
    width: 100%;
    height: 40px;
    text-align: center;
    color: white;
}

@media screen and (max-width: 770px) {
    #main-body {
        margin: 0px;
    }
}