header {
    background-color: rgb(78, 110, 112);
    color: white;
    padding-left: 25px;
}

nav {
    padding-left: 10px;
    padding-right: 10px;
    float: right;
}

a {
    color: white;
}

main {
    background-color: grey;
}

#main-body {
    background-color: white;
    opacity: 50%;
    margin: 30px;
}

img {
    width: 230px;
    height: 230px;
}

#text {
    padding-left: 10px;
    padding-right: 10px;
    
}

#footer {
    background-color:rgb(78, 110, 112) ;
    width: 100%;
}